<div class="row">
    {% for product in products  %}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <h5 class="card-title"> {{ product.title }} </h5>
                </a>
                <h6 class="card-subtitle mb-2 text-body-secondary">registed - 
                    <a href="#">
                        {{ product.user.username }}
                    </a>
                </h6>
                <p class="card-text">{{ product.price }}</p>
            </div>
        </div>
    </div>
    {% if user == hotel_info.user %}
    <div class="row g-3 align-items-center">
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="{% url 'hotel:create_product' hotel_info.pk %}">
                <button class="btn btn-outline-success">Add</button>
            </a>
            <form action="{% url 'hotel:delete_product' hotel_info.pk product.pk %}" method='POST'>
                {% csrf_token %}
                <button class="btn btn-outline-danger" onclick="return confirm('삭제하시겠습니까?')">Delete</button>
            </form>
        </div>
        <hr>
    </div>
    {% endif %}
    {% endfor %}
</div>
<hr>