{% extends 'base.html' %}

{% block content %}

<section class="container">
    <h1>Hotel List</h1>
    <hr>

    <div class="row">
        {% for hotel_info in hotel_infoes  %}
        <div class="col-sm-4 mb-5">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'hotel:detail_hotel_info' hotel_info.pk %}">
                        <h5 class="card-title"> {{ hotel_info.name }} </h5>
                    </a>
                    <h6>  {{ hotel_info.score }} </h6>
                    <h6 class="card-subtitle mb-2 text-body-secondary">registed - 
                        <a href="#">
                            {{ hotel_info.user.username }}
                        </a>
                    </h6>
                    <p class="card-text">{{ hotel_info.info }}</p>
                    {% if hotel_info.price != 0 %}
                        <span>{{ hotel_info.price }}</span>
                    {% else %}
                        <span>상품이 없습니다.</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock content %}