{% if user == hotel_info.user %}
<div class="row g-3 align-items-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="{% url 'hotel:create_product' hotel_info.pk %}">
            <button class="btn btn-outline-success">Product Add</button>
        </a>
    </div>
</div>
<hr>
{% endif %}
<div class="row">
    {% for product in products %}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{ product.title }} </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">registed - 
                    <a href="#">
                        {{ product.user.username }}
                        {{ product.pk }}
                    </a>
                </h6>
                <p class="card-text">{{ product.checkin|date:'Y-m-d' }} ~ {{ product.checkout|date:'Y-m-d'}}</p>
                <p class="card-text">{{ product.price }}</p>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        {% if user == hotel_info.user %}
        <div class="row g-3 align-items-center">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <form action="{% url 'hotel:delete_product' hotel_info.pk product.pk %}" method='POST'>
                    {% csrf_token %}
                    <button class="btn btn-outline-danger" onclick="return confirm('삭제하시겠습니까?')">Delete</button>
                </form>
            </div>
            <hr>
        </div>
        {% else %}
        <div class="row g-3 align-items-center">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'booking:create_book' product.pk %}">
                    <button class="btn btn-outline-info">Book</button>
                </a>
            </div>
            <hr>
        </div>
        {% endif %}
    {% else %}
        <div class="row g-3 align-items-center">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="{% url 'booking:create_book' product.pk %}">
                    <button class="btn btn-outline-info" onclick="return confirm('로그인을 해주세요.')">Book</button>
                </a>
            </div>
            <hr>
        </div>
    {% endif %}
    {% endfor %}
</div>