{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<h1>Hotel Product</h1>
<hr>
<div class="card mb-3" style="width: 90%; margin: 0 auto;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ hotel_info.image.url }}" class="img-fluid rounded-start" alt="{{hotel_info.image}}">
        </div>
        <div class="col-md-8">
            <div class="card-header">{{ hotel_info.name }} - {{ hotel_info.score }}</div>
            <div class="card-body">
                <p class="card-text">{{ hotel_info.info | linebreaks }}</p>
                <hr>
                <p class="card-text"><small class="text-body-secondary">Registered Person - {{ hotel_info.user.username }}</small></p>
            </div>
        </div>
    </div>
</div>
{% include 'hotel_booking/product_add_ui.html' %}
{% include 'hotel_booking/hotel_detail_ui.html' %}

<nav style="margin-bottom:3%;">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Product</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reveiws</button>      
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">{% include 'hotel_booking/hotel_detail_reviews_ui.html' %}</div>
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">{% include 'hotel_booking/product_ui.html' %}</div>
</div>


{% endblock content %}