{% if product.is_booked == 0 %}
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.image }}">
        </div>
        <div class="col-md-8">
            <div class="card-header"> {{ product.title }}</div>
            <div class="card-body">
                <p class="card-text">{{ product.checkin|date:'Y-m-d' }} ~ {{ product.checkout|date:'Y-m-d'}}</p>
                <p class="card-text">{{ product.price }} 원</p>
                <p class="card-text"><small class="text-body-secondary">Registered Person - {{ product.user.username }}</small></p>
            </div>
        </div>
    </div>
</div>
<div class="row g-2 align-items-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'booking:create_book' product.pk %}">
            <button class="btn btn-outline-info" onclick="return confirm('로그인을 해주세요.')">Book</button>
        </a>
    </div>
    <hr>
</div>
{% endif %}