{% for product in products %}
<div class="row" style="width: 80%; margin: 0 auto;">
{% if user.is_authenticated %}
    {% if product.is_booked == 0 %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.image }}">
            </div>
            <div class="col-md-8">
                <div class="card-header"> {{ product.title }} </div>
                    <div class="card-body">
                    <p class="card-text">{{ product.checkin|date:'Y-m-d' }} ~ {{ product.checkout|date:'Y-m-d'}}</p>
                    <p class="card-text">{{ product.price }} 원</p>
                    <p class="card-text"><small class="text-body-secondary">Registered Person - {{ product.user.username }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user == hotel_info.user %}
            {% include 'hotel_booking/product_register_ui.html' %}
        {% else %}
            {% include 'hotel_booking/product_book_ui.html' %}
        {% endif %}
    {% else %}
        {% include 'hotel_booking/product_none_book_ui.html' %}
    {% endif %}
    </div>
{% endfor %}
</div>