<div class="row">
    {% for product in products %}
    {% if user.is_authenticated %}
    <div class="col-sm-4 mb-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{ product.title }} </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">registed - 
                    <a href="#">
                        {{ product.user.username }}
                    </a>
                </h6>
                <p class="card-text">{{ product.checkin|date:'Y-m-d' }} ~ {{ product.checkout|date:'Y-m-d'}}</p>
                {% if product.is_booked == 1 %}
                    <p class="card-text"> 예약 완료 </p>
                {% else %}
                    <p class="card-text">{{ product.price }} 원</p>
                {% endif %}
            </div>
        </div>
    </div>
        {% if user == hotel_info.user %}
            {% include 'hotel_booking/product_register_ui.html' %}
        {% else %}
            {% include 'hotel_booking/product_book_ui.html' %}
        {% endif %}
    {% else %}
        {% include 'hotel_booking/product_none_book_ui.html' %}
    {% endif %}
{% endfor %}
</div>