{% for product in products %}
{% if user.is_authenticated %}
{% if product.is_booked == 0 %}
<div class="row">
    <div class="card mb-5" style="width: 80%; margin: 0 auto; padding: 0;">
        <div class="row g-0" style="padding: 1rem;">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.image }}">
            </div>
            <div class="col-md-8">
                <h3><div class="card-header"> {{ product.title }}</div></h3>
                <div class="card-body" style="padding-bottom: 0">
                    <p class="card-text">{{ product.checkin|date:'Y-m-d' }} ~ {{ product.checkout|date:'Y-m-d'}}</p>
                    <p class="card-text">{{ product.price }} 원</p>
                    <hr>
                {% endif %}
                    {% if user == hotel_info.user %}
                            {% include 'hotel_booking/product_register_ui.html' %}
                        {% else %}
                            {% include 'hotel_booking/product_book_ui.html' %}
                        {% endif %}
                    {% else %}
                        {% include 'hotel_booking/product_none_book_ui.html' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>