{% if product.is_booked == 0 %}
    <div class="d-flex justify-content-end">
        <div style="display: inline-block;">
            <p style="margin-bottom: 0.5rem;"><small class="text-body-secondary">Registered Person - {{ product.user.username }}</small></p>
            <form action="{% url 'hotel:delete_product' hotel_info.pk product.pk %}" method='POST' class="d-flex justify-content-end">
                {% csrf_token %}
                <button class="btn btn-outline-danger" onclick="return confirm('삭제하시겠습니까?')">Delete</button>
            </form>
        </div>
    </div>
{% endif %}