{% extends 'base.html' %}

{% block content %}

<section class="container">
    <h1>공지사항</h1>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Title</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
            </tr>
        </thead>
        <tbody>
            {% for board in boards %}
            <tr>
                <th scorpe="row">{{ board.pk }}</th>
                <td>
                    <a href="{% url 'board:detail_board' board.pk %}">
                        {{ board.title }}
                    </a>
                </td>
                <td>
                    {{ board.updated_at|date:'Y-m-d' }}
                </td>
                <td>
                    {{ board.views }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for group in user.groups.all %}
        {% if group.name == 'adminpage' %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end"> 
            <a href="{% url 'board:create_board' %}">
                <button class="btn btn-outline-dark">Write</button>
            </a>
        </div>
        {% endif %}
    {% endfor %}
</section>

{% endblock content %}