{% extends 'base.html' %}
{% load socialaccount %}
{% load bootstrap5 %}

{% block content %}

<section class="container">
    <h1>Login</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form login_form %}
        <br>
        <div>
            <button class="btn btn-outline-primary">login</button>
        </div>
        <br>
    </form>
    <div>
        <a href="{% url 'hotel_accounts:signup' %}"><button class="btn btn-outline-info">SignUp</button></a>
    </div>
    <hr>
    <div>
        <a href="{% provider_login_url "naver" %}">Naver</a>
    </div>
    <div>
        <a href="{% provider_login_url "google" %}">Google</a>
    </div>
    {% comment %} <div>
        <a href="{% provider_login_url "kakao" method='oauth2' %}">Kakao</a>
    </div> {% endcomment %}
</section>

{% endblock content %}