{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<h1>{{ profile_user.username }} 의 프로필</h1>
<hr>
{% for group in user.groups.all %}
    {% include 'sidebar.html' %}
{% endfor %}
<div style="margin: 0 3rem;">
    <h2>비밀번호 변경</h2>
    <hr>
    <div class="row" style="margin-left: 2.5rem; width: 50%">
        <form method="POST" action="{% url 'hotel_accounts:update_password' user %}">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">기존 비밀번호</label>
                <input class="form-control" name="origin_password" type="password">
            </div>
            <div class="mb-3">
                <label class="form-label"> 새 비밀번호</label>
                <input class="form-control" name="password1" type="password">
            </div>
            <div class="mb-3">
                <label class="form-label">새 비밀번호 확인</label>                    
                <input class="form-control" name="password2" type="password">
            </div>
            <div class="mb-3">
                {% if context|length_is:'0' %}
                {% else %}
                {{ error }}
                {% endif %}
            </div>
            <div>
                <button class="btn btn-outline-info" onclick="return confirm('비밀번호를 변경 하시겠습니다?!')">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}