{% extends 'base.html' %}

{% block content %}

<section class="container">

    <h1>{{ profile.username }} 의 프로필</h1>
    <hr>
    <h2>등록 목록</h2>
    <hr>
    <div class="row">
        {% for hotel_infoes in profile.hotel_infoes.all %}
            {% if hotel_infoes != null %}
            <div class="col-sm-4 mb-5">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'hotel:detail_hotel_info' hotel_infoes.pk %}">
                            {{ hotel_infoes.name }} 
                        </a>
                        <span>평점 : {{ hotel_infoes.score }}</span>
                        <hr>
                        {% for hotel_products in hotel_infoes.products.all %}
                            {% if hotel_products.price != 0 %}
                            <p class="card-text">{{ hotel_products.title }} : {{ hotel_products.price }}</p>
                            {% else %}
                            <span>상품이 없습니다.</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% else %}
                <h4>등록한 상품이 없습니다.</h4>
            {% endif %}
        {% endfor %}
    </div>

</section>


{% endblock content %}