{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<h1>{{ profile_user.username }} 의 프로필</h1>
<hr>
{% for group in user.groups.all %}
    {% include 'sidebar.html' %}
{% endfor %}
<div style="margin: 0 3rem;">
    <h2>내 정보 수정</h2>
    <hr>
        <div class="row" style="margin-left: 2.5rem; width: 50%" >
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div>
                    <button class="btn btn-outline-info" onclick="return confirm('회원 정보 수정 완료!')">Submit</button>
                </div>
            </form> 
        </div>
    
    {% include 'accounts/profile_secession_ui.html' %}
</div>
{% endblock content %}