    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
        <div class="container-fluid">
            <div class="container d-flex justify-content-between p-2 fw-bold" id="navbarNav">
                <a  class="navbar-brand fw-semibold fs-5" href="{% url 'home' %}">Home</a>
                <ul class="navbar-nav fw-semibold">
                    {% if user.is_authenticated %}
                        {% for group in user.groups.all %}
                            {% if group.name == 'client' %}
                                <li class="nav-item">
                                    <a href="{% url 'hotel:hotel_info' %}" class="nav-link active">예약</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'hotel_accounts:profile' user %}" class="nav-link active">예약내역</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'board:index_board' %}" class="nav-link active">공지사항</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="{% url 'hotel_accounts:profile' user %}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user }}'s profile</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'hotel_accounts:update_accounts' user %}">내 정보수정</a></li>
                                        <li><a class="dropdown-item" href="{% url 'hotel_accounts:profile' user %}">예약 내역</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'hotel_accounts:logout' %}">LogOut</a></li>
                                    </ul>
                                </li>
                            {% elif group.name == 'register'%}
                                <li class="nav-item">
                                    <a href="{% url 'board:index_board' %}" class="nav-link active">공지사항</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'hotel:create_hotel_info' %}" class="nav-link active">호텔 등록</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="{% url 'hotel_accounts:profile' user %}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user }}'s profile</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'hotel_accounts:update_accounts' user %}">내 정보수정</a></li>
                                        <li><a class="dropdown-item" href="{% url 'hotel_accounts:profile' user %}">등록 목록</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'hotel_accounts:logout' %}">LogOut</a></li>
                                    </ul>
                                </li>
                            {% elif group.name == 'adminpage'%}
                                <li class="nav-item">
                                    <a href="{% url 'board:index_board' %}" class="nav-link active">공지사항</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="{% url 'hotel_accounts:profile' user %}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user }}'s profile</a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'hotel_accounts:update_accounts' user %}">내 정보수정</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'hotel_accounts:logout' %}">LogOut</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if user.is_superuser == True %}
                        <li class="nav-item dropdown">
                            <a href="{% url 'hotel_accounts:profile' user %}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user }}'s profile</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'hotel_accounts:update_accounts' user %}">내 정보수정</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'hotel_accounts:logout' %}">LogOut</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'board:index_board' %}" class="nav-link active">공지사항</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'hotel_accounts:signup' %}" class="nav-link active">회원가입</a>
                    </li> 
                    <li class="nav-item">
                        <a href="{% url 'hotel_accounts:login' %}" class="nav-link active">LogIn</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>