<style>
    .side_bar {
        float: left;
        margin-right: 1rem;
        padding-left: 1rem;
        list-style: none;
    }
    .side_bar li a {
        text-decoration: none;
        display: block;
        color : black;
        font-weight: bold;
        margin: 5px;
        padding: 5px;
    }
</style>
<ul class="side_bar">
    <li><a href="{% url 'home' %}">Home</a></li>
    <hr>
    <li><a href="{% url 'hotel_accounts:update_accounts' user %}">내 정보 관리</a></li>
    {% if group.name == 'register' %}
    <li><a href="{% url 'hotel_accounts:profile' user %}">등록 목록</a></li>
    <li><a href="{% url 'hotel_accounts:update_password' user %}">비밀번호 변경</a></li>
    {% elif group.name == 'client'%}
    <li><a href="{% url 'hotel_accounts:profile' user %}">예약 내역</a></li>
    <li><a href="{% url 'hotel_accounts:update_password' user %}">비밀번호 변경</a></li>
    {% endif %}
</ul>